<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTMX Playground</title>
  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
</head>

<body>
  <h1>{{.PageTitle}}</h1>
  <div id="todos">
    {{ block "todos" . }}
    <ul>
      {{ range .Todos }}
      <li>{{ .Title }}</li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <button hx-get="/todos" hx-target="#todos">Add</button>
  <a href="/logout"><button>Logout</button></a>

</body>

</html>
