<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Manage rooms</title>
  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
</head>

<body>
  <h1>{{.PageTitle}}</h1>
  <div id="todos">
    {{ block "todos" . }}
    <ul>
      {{ range .Todos }}
      <li>{{ .Title }}</li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <button hx-get="/todos" hx-target="#todos">Add</button>
  <hr />
  <h1>Rooms</h1>
  <div id="rooms">
    {{ block "rooms" . }}
    <ul>
      {{ range .Rooms }}
      <li><span>{{ .Title }}</span><button hx-delete="/rooms/{{ .Id }}" hx-target="#rooms">Delete</button></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div>
    <h2>Add room</h2>
    <form hx-post="/rooms" hx-target="#rooms">
      <div class="form-wrapper">
        <div class="form-field">
          <label>Title</label>
          <input name="title" />
        </div>
        <button type="submit">Add</button>
      </div>
    </form>
  </div>
  <hr />
  <a href="/logout"><button>Logout</button></a>

</body>

</html>
